$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$brand-primary: #B8E986;

@import 'sass-bootstrap/lib/bootstrap';

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.dashboard {
  padding: 15px;
  background: #333;
  color: #eaeaea;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.stats {
  position: fixed;
  right: 0;
  top: 10%;
  background: rgba(0,0,0,0.75);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: rgba(255,255,255,1);
  overflow: hidden;

  .alert {
    float: left;
    margin: 12px;
    margin-bottom: 0;
    margin-right: 0;
  }
}
.resource {
  transition: all .25s;
  transform: none;
  height: 7em;
  width: 14em;
  float: left;
  padding: .5em;
  text-transform: uppercase;
  font-size: .75em;
  text-align: center;
  position: relative;
  border-bottom: 1px solid rgba(255,255,255,0.5);

  span.glyphicon {
    font-size: 5em;
    color: rgba(255,255,255,0.25);
    top: .25em;
    left: .25em;
    position: absolute;
  }
  span.val {
    transition: all .25s;
    font-size: 4em;
    position: relative;
    line-height: .75em;
    display: block;
    margin-top: .1em;
    width: 100%;
    color: rgba(255,255,255,0.75);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);

    span {
      display: inline-block;
      bottom: -1.8em;
      position: absolute;
      font-size: .30em;
      margin-left: -1.75em;
    }
  }
  &:last-child {
    border-bottom: none;
  }
}
.resource-loading {
  padding-top: 3em;
  border: 0;
  &.h {
    padding-top: 0;
  }
}

.h {
  opacity: 0;
  transform: translateY(-50%) scale(0);
  height: 0em;
  padding: 0;
}
.pulse {
  text-shadow: 0 0 5px rgba(255,255,255,0.75);
  color: rgba(255,255,255,1);
  box-shadow: inset 0 0 50px rgba(255,255,255,0.5);
  background: rgba(0,0,0,0.9);
}
.faded {
  opacity: 0.35;
  transition: opacity .5s;
}
.modal-body {
  padding: 0;
}
h1 {
  margin: 0;
  padding-bottom: 15px;
  line-height: 36px;
  font-weight: normal;

  span {
    font-weight: bold;
    color: $brand-primary;
  }
}
.stats {
  position: static;
  border-radius: 15px;
  right: auto;
  background: url(../images/nav-bg.png);

  .btn-wrap {
    padding: 20px;

    .btn {
      color: #4a4a4a;
      text-transform: uppercase;
      font-weight: bold;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
.resource {
  float: left;
  border: none;
  background: rgba(0,0,0,0.25);
  border-right: 1px solid #333;
}
#loading {
  .progress-bar {
    transition: width .5s;

    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.45) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.45) 50%,rgba(255,255,255,.45) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.45) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.45) 50%,rgba(255,255,255,.45) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.45) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.45) 50%,rgba(255,255,255,.45) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    -o-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
  }
}
#submissions-wrap {
  color: #444;
  margin-top: 15px;

  .panel-heading {
    font-weight: bold;
    color: $brand-primary;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $brand-primary;
  }

  .panel-default {
    border: 0;
    background: transparent;
  }

  .panel-body {
    padding: 15px 5px;

    .well-wrap {
      float: left;
      padding: 10px;
      width: 50%;
    }
    .well {
      transition: all .25s;
      position: relative;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
      background: rgba(141, 220, 61,0.25);
      color: #eaeaea;
      border: 0;

      .btn-close {
        position: absolute;
        right: 15px;
        top: 15px;
        color: #fff;
        background: #000;
        opacity: 0.25;
        padding: 8px 10px;
        display: block;
        padding-bottom: 11px;
        border-radius: 100%;
        -webkit-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s;
        line-height: 10px;
        text-decoration: none;

        &:hover {
          color: #000;
          background: #fff;
        }
      }

      &:hover {
        box-shadow: 0 0 15px rgba(0,0,0,0.75);
        color: #fff;

        .btn-close {
          opacity: 1;
        }
      }
    }

    .placeholder {
      transition: all .25s;
      overflow: hidden;
      width: 25%;

      &.h {
        width: 0;
        transform: scaleY(0);
        opacity: 0;
      }
    }

    .field-label-wrap {
      p {
        font-weight: bold;
      }
    }

    p {
      transition: all .25s;
    }

    .row-wrap {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
.modal-lg {
    width: 95%;
}
.modal-header {
  color: #3A3A3A; 
}
